* {
    -unity-font-definition: url("/Assets/EAUploader/UI/Noto_Sans_JP SDF.asset")
}

.material-icons {
    font-size: var(--material-symbol-size);
    -unity-font-style: normal;
    -unity-font-definition: url('/Assets/EAUploader/UI/MaterialIcons-Regular SDF.asset');
}

.button-with-icons {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.border-red {
	border-color: #770000;
}