#header-text {
	font-size: 24px;
	-unity-font-style: bold; 
	color: black;
	margin-top: 20px;
	margin-bottom: 20px;
}

#article-button {
	margin: 8px;
	cursor: link;
}

#article-button * {
	cursor: link;
}

#section-root {
	flex-direction: row;
}

#article-text {
	white-space: normal;
}