.selected {
	background-color: var(--primary);
	border-color: var(--primary);
}

.selected > Label {
	color: white;
}

.selected:hover {
	background-color: var(--primary-hover);
}

.pinned {
	background-color: var(--secondary);
	border-color: var(--secondary);
}

.pinned:hover {
	background-color: var(--secondary-hover);
}

.pinned > Label {
	color: white;
}